.container {
    padding-top: 40px;
    padding-left: 40px;
    height: 500px;
    border: rgb(189, 47, 255) 4px solid;
    border-radius: 25px;
}


.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.clue, .attempts {
    height: 20px;
    width: 600px;
    padding: 5px;
    border: 2px solid gray;
}


